<!DOCTYPE html>
<html>
  <head>
    <title>ONLINE SHOPPING</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/search_view.css" />
  </head>
  <body>
    <!-- nav bar section -->
    <nav id="custom-nav-bar">
      <div class="custom-nav-container">
        <div class="custom-logo">
          <a href="/"><h1>PROTOMIX</h1></a>
        </div>
        <div class="custom-search-bar">
          <form action="/search_result" method="POST">
            <input
              autocomplete="off"
              type="custom-text"
              name="search-input"
              list="suggestions"
              id=""
              placeholder="Search Products, brands and more"
              class="custom-search-box"
            />
            <datalist id="suggestions"></datalist>
            <button type="submit" class="custom-btn custom-btn-primary"><i class="fas fa-search fa-1x"></i></button>
          </form>
        </div>
        <div id="custom-nav-items">
          <ul>
            <% if (userData.email != null && userData.username != null) { %>
            <div class="custom-nav-item">
              <p class="server-incomming">welcome</p>
              <p class="server-incomming"><%= userData.username %></p>
            </div>
            <div class="custom-nav-item">
              <a href="/user/orders" class="custom-primary-hover">Orders</a>
            </div>
            <div class="custom-nav-item">
              <a href="/user/cart" class="custom-primary-hover">Cart</a>
            </div>
            <% } %> <% if (userData.email == null && userData.username == null) { %>
            <div class="custom-nav-item">
              <a href="" class="custom-primary-hover" data-toggle="modal" data-target="#exampleModalCenter">Sign in</a>
              <div
                class="modal fade"
                id="exampleModalCenter"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Sign in form</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="custom-form">
                          <div class="custom-form-group">
                            <label>Email*</label>
                            <input type="email" placeholder="Enter email id" />
                          </div>
                          <div class="custom-form-group">
                            <label>Password*</label>
                            <input type="password" placeholder="Enter password" />
                          </div>
                        </div>
                      </form>
                      <p>Dont have an account?<a href="/user/sign_up">signup here</a></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="" class="btn btn-primary">Sign in</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } else {%>
            <div class="custom-nav-item">
              <a href="/user/logout" class="custom-primary-hover">log out</a>
            </div>
            <% }%>
          </ul>
        </div>
      </div>
    </nav>

    <!-- products section -->
    <header id="header">
      <div class="custom-container">
        <div class="l-heading">Search Results</div>
        <% for (var i = 0; i < matchedProducts.length; i++) {%>
        <div class="product-card">
          <div class="product-image-section">
            <img src="<%= matchedProducts[i].productImage%>" alt="" />
          </div>
          <div class="product-information-section">
            <h3>Product Name: <%= matchedProducts[i].productName%></h3>
            <h4>Product Cost: <%= matchedProducts[i].price%></h4>
            <p><%= matchedProducts[i].description%></p>
            <% if (matchedProducts[i].stock > 0) { %>
            <h4>Product In Stock</h4>
            <% } else { %>
            <h4>Product Not in Stock</h4>
            <% } %>
            <a class="custom-view-btn" href="/product/<%= matchedProducts[i]._id%>">View Product</a>
          </div>
        </div>
        <% }%>
      </div>
    </header>
    <footer></footer>
  </body>
  <script></script>
  <script src="/js/search_view.js"></script>
</html>
